* {
    margin:5px;
    max-width: 1894px;
    max-height:3195px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f8f8f8;
    font-size:18px;
}

.container {
    align-items: center;
    width:100%;
    overflow: hidden;
    padding-left: 20%;
    padding-right: 20%;
    box-sizing: border-box;
    
}
.content {
    text-align: center;
    font-size: 28px;
    padding-bottom:5%;
}

.image_resize { 
    height: auto; 
    width: auto; 
    max-width: 212px; 
    max-height: 212px;
}

#item_shift {
    position: relative;
    top:10px;
}

.outer {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}
.row {
    display:flex;
    flex-direction: row;
    flex:1;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 7%;
}

.item {
    text-align: center;
    justify-content: space-between;
    flex:1;
}

#bottom {
    margin: 0px;
    flex-basis: 100%;
    display:inline-block;
    padding: 0px;
}

.promo {
    background-color: #ffff70;
    padding:15px;
    max-height:19vh;
}
.promo img {
    height:100%;
    width:100%;
}

#purple_background:hover {
    opacity: 0.7;
}
.promo p {
    font-size: 23.7px;
    position: relative;
    width:100%;
    right:10px;
}

#purple_background {
    background-color: #8e42ff;
    padding:3px;
    position: relative;
    border-radius: 2px;
    right:10px;
    color:white;
}
#and_adjustment {
    position: relative;
    right:10px;
}

.promo footer {
    font-size: small;
    position: relative;
    right:10px;
}


#app_shifted {
    position: relative;
    top:10px;
}

#play_shifted {
    position: relative;
    top:13px;
}

#start_text:nth-of-type(1) { flex-grow: 3.5; }
#start_text:nth-of-type(2) { flex-grow: 1; }
#start_text:nth-of-type(3) { flex-grow: 1; }

#start_text {
    text-align: start;
    justify-content: flex-start;
    align-items: flex-start;
}


@media only screen and (min-width:419px) and (max-width:1024px) {
    .outer {
        display: flex;
        min-height: 100%;
        flex-direction: row;
    }

    .outer {
        display: inline;
        min-height: 100%;
        flex-direction: row;
    }

    .row {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

    .item {
        padding-bottom: 24%;
    }

}

@media only screen and (min-width:1024px) and (max-width:1500px) {
    

    .row {
        flex-direction: column;
        align-items: center;
    }

    .item {
        padding-bottom: 24%;
        width:60%;
    }

}

