body {
    width:420px;
    height:699px;

}

.grid-container { 
    column-count: 12;
    column-gap: 0px;

}

.grid-item {
    font-size: 30px;
    text-align: center;
    height: 699px; 
    column-rule-style: solid;
    background: #021c2d;
}

#light_blue { 
    background: #00263f;
}